    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">OND supported by <a href="https://try.pansift.com/?utm_source=ond&utm_medium=hyperlink&utm_campaign=partners&utm_content=sbs">Pansift</a> makers of <a href="https://try.pansift.com/?utm_source=ond&utm_medium=hyperlink&utm_campaign=partners&utm_content=sbs">Simulation Based Screening</a></p>
         </footer>
    </div>
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41099730-3', 'auto');
  ga('send', 'pageview');

  $.getJSON('https://api.github.com/repos/podomere/ond/stats/contributors', function(data) {
    number = data[0]["total"];
    img_src = "https://img.shields.io/badge/Commits-"+number+"-blue.svg?maxAge=86400&logo=github";
    commit_div = document.getElementById('github-commits');
    if (commit_div !== null) {
      document.getElementById('github-commits').innerHTML += '<a href="https://github.com/podomere/pblog"><img src='+img_src+'></a>';
    }
  });
</script>
    

  </body>
</html>
