<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="OND : Open Network Design" />
    <meta property="og:title" content="Open Network Design: Accelerating Interconnectedness"/>
    <meta property="og:description" content="Public domain network designs for individuals and organisations to create, collaborate, and share!"/>
    <meta property="og:image" content="https://opennetworkdesign.com/images/ond-social-v8.jpg">
    <meta property="og:url" content="https://opennetworkdesign.com">
    <meta property="og:site_name" content="Open Network Design"/>
    <meta property="og:type" content="website"/>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin="">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/podomere/ond">View OND on GitHub</a>

          <h1 id="project_title">Open Network Design</h1>
          <h2 id="project_tagline"><a href="https://opennetworkdesign.com">OND</a> → Accelerating Interconnectednes</a></h2>
          <div id="header-gh-btns">
            <div id="github-commits"></div>
          </div>
            <section id="downloads"><a href="https://opennetworkdesign.com/designs.html">Designs</a> | <a href="https://opennetworkdesign.com/README.html">Readme</a> | <a href="https://opennetworkdesign.com/about.html">About</a> | <a href="https://pluralsight.pansift.com">Training <i class="fa fa-external-link" aria-hidden="true"></i></a><a class="zip_download_link" href="https://github.com/podomere/ond/zipball/gh-pages">Download this project as a .zip file</a><a class="tar_download_link" href="https://github.com/podomere/ond/tarball/gh-pages">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>
